<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<!-- =========================================================================================================== -->
<!--                                LOGBACK INDEPENDENT CONFIGURATION                                            -->
<!-- =========================================================================================================== -->

<configuration debug="false">

	<contextName>Logback test configuration</contextName>
	<include resource="de/dbo/samples/springboot/utilities/logging/logback-appenders.xml"/>
 
	<!-- ======================================================================================================= -->
	<!--                                  LOGGERS                                                                -->
	<!-- ======================================================================================================= -->
	
	<!-- Any warning or error has to be logged -->
	<root level="WARN">
		<appender-ref ref="WARNINGS_ERRORS" />
	</root>
	
	<logger name="de.dbo.samples" level="INFO">
		<appender-ref ref="NORMAL_MESSAGES" />
	</logger>


</configuration>