<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />

	<appender name="CONSOLE_ERROR" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<target>System.err</target>
		<encoder>
			<pattern>%-4relative ms. [%30thread] %-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<target>System.out</target>
		<encoder>
			<pattern>%-4relative ms. [%30thread] %-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="de.dbo.samples" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>


	<root level="WARN" additivity="false">
		<appender-ref ref="CONSOLE_ERROR" />
	</root>

</configuration>