<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-4relative ms. [%30thread] %-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="de.dbo.samples" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>


	<root level="WARN" additivity="false">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>