<!DOCTYPE html>

<html ng-app="hateoasHALApplication">
<head>
<meta charset="utf-8" />
<title>HATEOAS-HAL Application</title>

<link rel="stylesheet" href="/css/app.css" />

<link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.css" />

<script src="/webjars/angularjs/1.4.9/angular.js"></script>
<script src="/webjars/angularjs/1.4.9/angular-resource.js"></script>
<script src="/webjars/angularjs/1.4.9/angular-route.js"></script>

<script src="/js/app.js" />
<script src="/js/controller.js" />

<script th:inline="javascript">
	
    var hateoasHALApplication = angular.module('hateoasHALApplication', []);
	hateoasHALApplication.controller('HateoasHALController', function($scope, $http) {
		    $http.get('hateoas').success(function(data) {
			$scope.hateopasHAL = data;
			$scope.links = data._links;
		});
	});
</script>
</head>

<body ng-controller="HateoasHALController">

	<div class="title">{{hateopasHAL.name}}</div>
	<div class="description">{{hateopasHAL.description}}</div>
	<div class="section">
		<table class="links">
			<tr>
				<td class="link-cell"><a href="{{links.books.href}}"> 
						{{links.books.href}} </a></td>
			</tr>
			<tr>
				<td class="link-cell"><a href="{{links.authors.href}}">
						{{links.authors.href}} </a></td>
			</tr>
			<tr>
				<td class="link-cell"><a href="{{links.publishers.href}}">
						{{links.publishers.href}} </a></td>
			</tr>
		</table>
	</div>

</body>
</html>